.lakovna-image {
    display: flex;
    justify-content: space-evenly;
}

.lakovna-image img {
    max-width: 25%;
}

.autoservis a {
    color: inherit;
}

@media only screen and (width <= 800px) {
    .lakovna-image {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .lakovna-image img {
        max-width: 80%;
    }
}