.autopujcovna__card-container {
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 2rem;
}

.autopujcovna__card {
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    background-color: var(--bg-color-secondary);
    box-shadow: -3px 5px 9px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: -3px 5px 9px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -3px 5px 9px 0px rgba(0,0,0,0.3);
    width: 20%;
}

.autopujcovna__card-text {
    padding: 1rem;
} 

.autopujcovna__card p {
    padding: 0;
    margin: 0;
}

@media only screen and (min-width:680px) and (max-width: 1440px) {
    .autopujcovna__card {
        width: 30%;
    }    
}

@media only screen and (max-width: 680px) {
    .autopujcovna__card-container {
        flex-direction: column;
        align-items: center;
    }

    .autopujcovna__card {
        width: 80%;
        margin-block-end: 1.5rem;
    }

}